.table-responsive{
  height: 450px;
  overflow-x:auto;
}
/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
  width: 1px;
  height: 1px;
} 
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #ffff; 
} 
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px #d9dfe4; 
}


@media only screen and (max-width: 500px) {
    
  /* Force table to not be like tables anymore */
  .table-responsive table, 
  .table-responsive thead, 
  .table-responsive tbody, 
  .table-responsive th, 
  .table-responsive .td-block, 
  .table-responsive tr { 
    display: block; 
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  .table-responsive thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .table-responsive tbody:first-child tr td[data-title="#"] {
    display: none;
  }

  /* .table-responsive tr { border: 1px solid #ccc; } */

  .table-responsive .td-block{ 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%; 
    white-space: normal;
    text-align:left;
  }
  .td-none {
    display: none;
  }

  .table-responsive td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
    text-align:left;
    font-weight: bold;
  }

  /*
  Label the data
  */
  .table-responsive td:before { content: attr(data-title); }
}


.td-none {
  display: none;
}