@media screen and (max-width: 600px) {
  table#cart tbody td .form-control{
  width:20%;
  display: inline !important;
}
.actions .btn{
  width:36%;
  margin:1.5em 0;
}

.actions .btn-info{
  float:left;
}
.actions .btn-danger{
  float:right;
}

table#cart thead { display: none; }
table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
table#cart tbody tr td:first-child { background: #333; color: #fff; }
table#cart tbody td:before {
  content: attr(data-th); font-weight: bold;
  display: inline-block; width: 8rem;
}



table#cart tfoot td{display:block; }
table#cart tfoot td .btn{display:block;}

}

.cart{
	position: fixed; 
	height: 37px; 
	width: 40px;
	right: 0; 
	bottom:50%; 
	z-index: 1;
	border-radius: 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.shop{
	position: fixed; 
	height: 37px; 
	width: 40px;
	left: 0; 
	bottom:50%; 
	z-index: 1;
	border-radius: 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}