// Here you can add other styles

// body {
//   overflow: hidden;
// }

/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
  width: 1px;
  height: 1px;
} 
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #ffff; 
} 
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px #d9dfe4; 
}
